/* EXERCISE START */

.task-type-1{
    background-color: auto;
  }
  
  .task-type-2{
    background-color: auto;
  }
  
  .task-type-3{
    background-color: auto;
  }
  
  .task-type-4{
    background-color: auto;
  }