:root{
  --colour-navbar: rgb(255, 44, 164);
  --colour-song-details: red;
  --colour-controls: green;
  --colour-progress-played: rgb(255, 106, 0);
  --colour-progress-left: cyan;
  --colour-text: rebeccapurple;
  --colour-icons: silver;
  --colour-circle: yellow;
}